body {
  background-color: #121212;
  color: white;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  box-shadow: 0px 5px 10px #000000;
}

.btn:focus {
  outline: none;
}

.button-row div {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 4px;
}

.button-row .btn {
  width: 60px;
  height: 60px;
  background-color: #636363;
}

.button-row .btn:hover {
  background-color: #858585;
  color: white !important;
}

.button-off {
  background-color: #454545 !important;
}

.calc-history-eq {
  color: #B0B0B0;
  cursor: pointer;
}

#container {
  width: 325px;
  background-color: #000000;
  height: 700px;
  border-radius: 10px;
  margin-top: 0px;
}

#expression {
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: right;
  background-color: #636363;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0px 5px 10px #444444 inset;
}

#standard-buttons {
  display: inline-block;
  margin-left: -20px;
  margin-bottom: 10px;
}


#calc-history-box {
  width: 180px !important;
  height: 280px !important;
  resize: none;
  overflow: hidden;
}

#calc-history hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

